# Created by venv; see https://docs.python.org/3/library/venv.html
# Çevre Değişkenleri (Hassas Veriler)
.env

# Sanal Ortam
venv/
env/

# Python Önbellek Dosyaları
__pycache__/
*.pyc

# Mac/Windows Sistem Dosyaları
.DS_Store
Thumbs.db
core/model.pkl
# Veri setleri
data/
*.csv